.button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
    border-width: 1px;

    &.giant {
        padding: 16px 24px;
        border-radius: 12px;
    }

    &.large {
        padding: 14px 20px;
        border-radius: 12px;
    }

    &.medium {
        padding: 12px 16px;
        border-radius: 12px;
    }

    &.small {
        padding: 8px 12px;
        border-radius: 8px;
    }

    &.tiny {
        padding: 6px 8px;
        border-radius: 8px;
    }

    
}

