.button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: inherit;
  border-width: 1px;
  border-style: solid;

  &.giant {
    padding: 16px 24px;
    border-radius: 12px;
  }

  &.large {
    padding: 14px 20px;
    border-radius: 12px;
  }

  &.medium {
    padding: 12px 16px;
    border-radius: 12px;
  }

  &.small {
    padding: 8px 12px;
    border-radius: 8px;
  }

  &.tiny {
    padding: 6px 8px;
    border-radius: 8px;
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: var(--color-grey-200);
    color: var(--color-grey-400)
  }

  &.primary {

    &.filled {
      background-color: var(--color-primary-500);
      border-color: var(--color-primary-500);
    }

    &:hover {
      background-color: var(--color-primary-700);
      border-color: var(--color-primary-700);
    }

    &:focus {
      background-color: var(--color-primary-500);
      border-color: var(--color-primary-500);
    }

    &:active {
      background-color: var(--color-primary-800);
      border-color: var(--color-primary-800);
    }
  }

  &.success {

    &.filled {
      background-color: var(--color-success-500);
      border-color: var(--color-success-500);
    }

    &:hover {
      background-color: var(--color-success-700);
      border-color: var(--color-success-700);
    }

    &:focus {
      background-color: var(--color-success-500);
      border-color: var(--color-success-500);
    }

    &:active {
      background-color: var(--color-success-800);
      border-color: var(--color-success-800);
    }
  }
}

